<!DOCTYPE html>
<html ng-app="galleryApp">
  <head>
    <title>Galerie</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="container">

      <!-- Gallery -->
      <div ng-controller="galleryCtrl">

        <div ng-show="selectedGallery == null">
          <p>
            <input type="password" ng-model="enteredPassword" placeholder="Mot de passe" />
          </p>
          <p>
            <a href="" class="btn btn-primary" ng-click="checkPassword(enteredPassword)">Connexion</a>
          </p>
        </div>

        <div class="row" ng-hide="selectedGallery == null">
          <div class="col-xs-6 col-md-3" ng-repeat="image in imagesList">
            <a href="#" class="thumbnail">
              <img ng-src="{{ getImageThumbnailPath(image.name) }}" class="img-rounded" />
            </a>
          </div>
        </div>

      </div>
    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/gallery.js"></script>
  </body>
</html>
