database:
    driver:   pdo_mysql
    host:     127.0.0.1
    dbname:   pto
    user:     
    password:
upload:
    tmp_dir:       /tmp/pto/
    final_dir:     /tmp_pto/
    original_dir:  original/
    thumbnail_dir: thumbnail/
