<!DOCTYPE html>
<html ng-app="ptoApp">
  <head>
    <title>Pto</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <nav class="navbar navbar-static-top navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">Admin</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Galeries</a></li>
          </ul>
        </div>
    </nav>

    <div class="container">

      <!-- Authentication -->
      <div ng-controller="UserCtrl" ng-hide="user.authenticated">
        <form ng-submit="submit()">
          <input ng-model="user.username" type="text" name="user" placeholder="Username" />
          <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
          <input type="submit" value="Login" />
        </form>
      </div>

      <!-- Gallery -->
      <div ng-controller="galleryCtrl" ng-show="user.authenticated">
        <h1>Galeries</h1>
        <div class="row">
          <div class="col-md-4">
            <p>
              <input type="text" ng-model="galleryTitle" />
              <button ng-click="add(gallery)">Ajouter</button>
            </p>
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="gallery in galleries">
                <a href="#">{{ gallery.title }}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div flow-init
                 flow-files-submitted="$flow.upload()">
              <span class="btn btn-small btn-info" flow-btn><i class="icon icon-file"></i>Ajouter des images</span>
              <p>
              <div class="progress progress-striped" ng-class="active">
                <div class="progress-bar" role="progressbar"
                                            aria-valuenow="{{$flow.progress() * 100}}"
                                            aria-valuemin="0"
                                            aria-valuemax="100"
                                            ng-style="{width: ($flow.progress() * 100) + '%'}">
                  <span class="sr-only">{{$flow.progress()}}% Complete</span>
                </div>
              </div>
              <div class="row">
                <!--
                <div class="col-xs-6 col-md-3" ng-repeat="file in $flow.files">
                  <a href="#" class="thumbnail">
                    <img flow-img="file" class="img-rounded" />
                  </a>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-flow/dist/ng-flow-standalone.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
