<!DOCTYPE html>
<html ng-app="ptoApp">
  <head>
    <title>Pto</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
  </head>
  <body>

    <div ng-controller="galleryCtrl">
      <h1>Galleries</h1>
      <div class="row">
        <div class="col-md-4">
          <p>
            <input type="text" ng-model="galleryTitle" />
            <button ng-click="add(gallery)">Ajouter</button>
          </p>
          <ul>
            <li ng-repeat="gallery in galleries">
              {{ gallery.title }}
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          Images
          <div flow-init>
            ... other flow directives goes here ...
            <input type="file" flow-btn />
            <input type="file" flow-btn flow-directory />
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
